<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Receipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-receipe-item
      *ngFor="let receipe of receipes"
      [receipe]="receipe"
    ></app-receipe-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon md="caret-forward" ios="chevron-forward-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
